body {
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: #222;
  padding: 20px;
  margin: 15px;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #4caf50;
  color: white;
  font-size: 16px;
}

button.link {
  background: none;
  color: #aaa;
}
